* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #141414;
  min-height: 100vh;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}